<section class="section collection-section" id="collection">
  <div class="container collection-container">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-list-item">
        <div class="collection-list-img">
          <picture>
            <source
              srcset="
                /img/collection/img1deskbig.jpg    1x,
                /img/collection/img1deskbig@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                /img/collection/img1desk.jpg    1x,
                /img/collection/img1desk@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                /img/collection/img1tab.jpg    1x,
                /img/collection/img1tab@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                /img/collection/img1mob.jpg    1x,
                /img/collection/img1mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="collection-img"
              src="/img/collection/img1mob.jpg"
              alt="women's embroidery"
              loading="lazy"
            />
          </picture>
          <p class="collection-overlay">
            The west of Ukraine is characterised by multi-coloured contrasting embroidery. <br /><br />
            The embroidery technique on the selected fragment is
            kachalochky. <br /><br />
            This type of counted satin stitch is also known in other regions of Ukraine, but in Transcarpathia, the peculiarityof this embroidery is the complete sewing of the background withdark colours.
          </p>
        </div>
        <h3 class="collection-list-title">august poltava women's blousering</h3>
        <p class="collection-list-text">3300 UAH</p>
      </li>


      <li class="collection-list-item">
        <div class="collection-list-img">
          <picture>
            <source
              srcset="
                /img/collection/img2deskbig.jpg    1x,
                /img/collection/img2deskbig@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                /img/collection/img2desk.jpg    1x,
                /img/collection/img2desk@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                /img/collection/img2tab.jpg    1x,
                /img/collection/img2tab@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                /img/collection/img2mob.jpg    1x,
                /img/collection/img2mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="collection-img"
              src="/img/collection/img2mob.jpg"
              alt="women's embroidery"
              loading="lazy"
            />
          </picture>
          <p class="collection-overlay">
              There are many transparent symbols on the embroidered shirt:<br />

              Goats - futurist artist Anatoly Petritsky painted them on his cheeks.<br />
              Waves - writer Mykola Khvylovy.<br /><br />

              Straight lines in the form of birch strips - Les Kurbas and actors of the Berezil Theater.<br /><br />

              Bunch of Grapes - Valerian Polishchuk, author of the almanac "Bunch"<br /><br />
              Christmas tree branch - Mykhailo Yalovy<br /><br />

              Birds/Crows - vehicles of the Volga, and Seagulls, who watched and kidnapped writers, and artists.
            </p>
        </div>
        <h3 class="collection-list-title">women's blouse gorgany</h3>
        <p class="collection-list-text">3350 UAH</p>
      </li>

      <li class="collection-list-item">
        <div class="collection-list-img">
          <picture>
            <source
              srcset="
                /img/collection/img3deskbig.jpg    1x,
                /img/collection/img3deskbig@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                /img/collection/img3desk.jpg    1x,
                /img/collection/img3desk@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                /img/collection/img3tab.jpg    1x,
                /img/collection/img3tab@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                /img/collection/img3mob.jpg    1x,
                /img/collection/img3mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="collection-img"
              src="/img/collection/img3mob.jpg"
              alt="women's embroidery"
              loading="lazy"
            />
          </picture>
          <p class="collection-overlay">
            In the Yavoriv district, the geometric ornament of the 19th century was replaced by a stylised floral one in the early 20th century.<br /><br />

            Its characteristic features are bright and embossed embroidery, different but balanced small motifs, with a lot of white space between them.<br /><br />

            It is how shirts, headdresses, camisoles and aprons were decorated, creating a light but bright image.
          </p>
        </div>
        <h3 class="collection-list-title">women's blouse crimea</h3>
        <p class="collection-list-text">4000 UAH</p>
      </li>

      <li class="collection-list-item">
        <div class="collection-list-img">
          <picture>
            <source
              srcset="
                /img/collection/img4deskbig.jpg    1x,
                /img/collection/img4deskbig@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                /img/collection/img4desk.jpg    1x,
                /img/collection/img4desk@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                /img/collection/img4tab.jpg    1x,
                /img/collection/img4tab@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                /img/collection/img4mob.jpg    1x,
                /img/collection/img4mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="collection-img"
              src="/img/collection/img4mob.jpg"
              alt="men's embroidery"
              loading="lazy"
            />
          </picture>
          <p class="collection-overlay">
            The textured embroidery of this shirt reproduces the ornamentation of the Chernihiv region, Nizhyn district, in the first half of the 20th century.<br /><br />

            Various machine embroidery techniques were used to imitate hand stitches.<br /><br />

            In the folk tradition, shirts "embroidered with oak" were common - the embroidery thread was dyed in a decoction of oak bark.<br /><br />

            An interesting technique is the punch needle one, known as "nightingale eyes", when it is used to make the entire element of the ornament.
          </p>
        </div>
        <h3 class="collection-list-title">men's shirt verkhovina</h3>
        <p class="collection-list-text">3100 UAH</p>
      </li>

      <li class="collection-list-item">
        <div class="collection-list-img">
          <picture>
            <source
              srcset="
                /img/collection/img5deskbig.jpg    1x,
                /img/collection/img5deskbig@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                /img/collection/img5desk.jpg    1x,
                /img/collection/img5desk@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                /img/collection/img5tab.jpg    1x,
                /img/collection/img5tab@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                /img/collection/img5mob.jpg    1x,
                /img/collection/img5mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="collection-img"
              src="/img/collection/img5mob.jpg"
              alt="men's embroidery"
              loading="lazy"
            />
          </picture>
          <p class="collection-overlay">
            The embroideries depict the coats of arms of the Grand Dukes of Kyiv and the family signs of the princes of the X-XII centuries. <br><br>

            Namely: Trident, sign of Volodymyr the Great, coat of arms of the Principality, two swords, branch of viburnum and wheat.
          </p>
        </div>
        <h3 class="collection-list-title">mountain men's shirt</h3>
        <p class="collection-list-text">3300 UAH</p>
      </li>

      <li class="collection-list-item">
        <div class="collection-list-img">
          <picture>
            <source
              srcset="
                /img/collection/img6deskbig.jpg    1x,
                /img/collection/img6deskbig@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                /img/collection/img6desk.jpg    1x,
                /img/collection/img6desk@2x.jpg 2x
              "
              media="(min-width:1280px)"
            />
            <source
              srcset="
                /img/collection/img6tab.jpg    1x,
                /img/collection/img6tab@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <source
              srcset="
                /img/collection/img6mob.jpg    1x,
                /img/collection/img6mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              class="collection-img"
              src="/img/collection/img6mob.jpg"
              alt="men's embroidery"
              loading="lazy"
            />
          </picture>
          <p class="collection-overlay">
            The Odesa region is characterised by a combination of geometric ornaments of different structures and techniques.<br><br>

          Long sleeves with buttons on the back. Front slit with tassels.<br><br>

          This was often further emphasised by contrasting colours.<br><br>

          The surface stitch embroidery technique gives the ornament elements a characteristic elongated shape. Restrained ornaments on such shirts could be complemented by multi-coloured crosses or beads.
          </p>
        </div>
        <h3 class="collection-list-title">men's shirt yasen</h3>
        <p class="collection-list-text">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
