<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo-link" href="index.html">
        <img
          class="header-logo-icon"
          src="/img/logo.svg"
          alt="logo"
          width="44"
          height="39"
        />
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about">About us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#collection">Our collection</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#order">Customer order</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#testimonials">Testimonials</a>
        </li>
      </ul>
    </nav>
    <div class="header-contacts-wrapper">
      <address class="header-address">
        <a class="header-tel-link" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </address>

      <ul class="header-social-media-list">
        <li class="header-social-media-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="header-social-media-link"
          >
            <svg
              class="header-social-list-icon"
              width="28"
              height="28"
              aria-label="icon facebook"
            >
              <use href="/img/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-media-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="header-social-media-link"
          >
            <svg
              class="header-social-list-icon"
              width="28"
              height="28"
              aria-label="icon instagram"
            >
              <use href="/img/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header-social-media-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="header-social-media-link"
          >
            <svg
              class="header-social-list-icon"
              width="28"
              height="28"
              aria-label="icon youtube"
            >
              <use href="/img/icons.svg#youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button class="header-mobile-menu-btn" type="button" id="mobileMenuBtn">
        <svg class="header-mobile-menu-icon" aria-label="mobile menu icon">
          <use href="/img/icons.svg#menu"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- --------------MOBILE MENU--------------------- -->
  <div class="header-backdrop">
    <div class="header-mobile-menu">
      <button class="header-mob-menu-close-btn" type="button" id="closeMenuBtn">
        <svg
          class="header-mob-menu-close-icon"
          aria-label="mobile menu close icon"
        >
          <use href="/img/icons.svg#close"></use>
        </svg>
      </button>
      <address class="header-mob-menu-address">
        <a class="header-mob-menu-tel" href="tel:+380684439426"
          >+380 (68) 443-94-26</a
        >
      </address>
      <nav class="header-mob-menu-nav">
        <ul class="header-mob-menu-nav-list">
          <li class="header-mob-menu-nav-item">
            <a class="header-mob-menu-nav-link" href="#about">About us</a>
          </li>
          <li class="header-mob-menu-nav-item">
            <a class="header-mob-menu-nav-link" href="#collection"
              >Our collection</a
            >
          </li>
          <li class="header-mob-menu-nav-item">
            <a class="header-mob-menu-nav-link" href="#order">Customer order</a>
          </li>
          <li class="header-mob-menu-nav-item">
            <a class="header-mob-menu-nav-link" href="#testimonials"
              >Testimonials</a
            >
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
