/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./global.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./collection.css');
@import url('./order.css');
@import url('./testimonials.css');
@import url('./footer.css');

:root {
  /* TYPO */
  font-family: 'Manrope', sans-serif;
  line-height: normal;

  /* COLORS */
  color: #fcf9f9;
  background-color: #1c2225;

  --white-color: #fcf9f9;
  --black-color: #1c2225;
  --yellow-color: #ecd979;
  --gray-color: rgba(252, 249, 249, 0.1);
  --light-gray-color: rgba(252, 249, 249, 0.4);
  --form-placeholder-color: rgba(252, 249, 249, 0.5);

  /* ANIMATION */
  --duration: 300ms;
  --time-function: ease-in-out;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
